<configuration>
    <!-- Appender för loggning till konsolen -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender för loggning till fil  -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/app.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONTROLLER_FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/controller.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONFIGURATION_FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/configuration.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SERVICE_FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/service.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root - här loggas allt som inte dina specifika loggers (nedan) fångar -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
    <!-- Specifik logger-konfiguration för er webbapplikations klasser -->
    <!-- Ersätt värdet för name med ert grund-Java-paket -->
    <!-- Log-level är satt till INFO -->

    <logger name="org.example.securitygrupparbete" level="INFO" additivity="false">
        <!--loggar till fil (se appendern ovan) -->
        <appender-ref ref="FILE" />
    </logger>
    <!-- Specifik logger-konfiguration för Springs klasser -->

    <!-- Log-level är satt till INFO -->
    <logger name="org.example.securitygrupparbete.Controller.UserController" level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref= "CONTROLLER_FILE" />
    </logger>

    <logger name="org.example.securitygrupparbete.Service.*" level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref= "SERVICE_FILE" />
    </logger>

    <logger name="org.example.securitygrupparbete.Configuration.*" level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref= "CONFIGURATION_FILE" />
    </logger>

    <logger name="org.springframework" level="INFO">
        <!-- loggar till konsolen -->
        <appender-ref ref="CONSOLE" />
    </logger>
</configuration>