<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <div class="welcome">
        <h1 th:if="${user != null}" th:text="'Welcome, ' + ${user.getName()} + '!'">Welcome!</h1>
        <h1 th:if="${user == null}">Welcome!</h1>
        <p th:if="${user != null}">You are logged in as <span th:text="${user.getName()}"></span></p>
        <p th:if="${user == null}">You are not logged in.</p>
    </div>
    <div>
        <a th:href="@{/logout}">
            <button>Log out</button>
        </a>
    </div>

</div>
</body>
</html>