<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <div class="welcome">
        <h1 th:text="'Welcome, ' + ${#authentication.name} + '!'"></h1>
        <p th:if="${#authentication.name}">You are logged in as <span th:text="${#authentication.name}"></span></p>
        <p th:if="${not #authentication.name}">You are not logged in.</p>
    </div>
</div>
</body>
</html>