<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
    </head>
</head>
<body>
<h1>REGISTER USER</h1>
<div>
    <form th:action="@{/register}" th:object="${user}" method="post" >
        <label for="username" >Enter username</label>
        <input type="text" id="username" th:field="*{username}" >
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username error</span>
        <br>
        <label for="email">Enter email</label>
        <input type="email" id="email" th:field="*{email}">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</span>
        <br>
        <label for="password">Enter password</label>
        <input type="password" id="password" th:field="*{password}">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</span>
        <br>
        <button type="submit">Submit</button>
    </form>

</div>
</body>
</html>